# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.log
*.sqlite3
*.db

# Poetry
poetry.lock

# Virtualenv
.env
.venv/
venv/
ENV/

# Jupyter Notebooks
.ipynb_checkpoints

# VS Code
.vscode/

# Test and coverage
.coverage
htmlcov/
.tox/
.pytest_cache/

# OS
.DS_Store
Thumbs.db

# Misc
*.bak
*.swp
*.tmp
*.orig

# Documentation build
/docs/_build/
